---
import Layout from "../layouts/Layout.astro";
import portal from "../assets/images/portal.jpg";
---

<Layout title="Fu The Meme Coon">
    <main class="overflow-hidden relative bg-black">
        <div class="bg-black h-screen flex items-center justify-center gap-8">
            <div class="w-full md:w-1/4 h-fit  mx-auto group transition-all flex flex-col items-center justify-center gap-8">
                <div>
                    <img src={portal.src} alt="portal image" class="w-1/2 mx-auto group-hover:scale-125 transition-all">
                </div>
                <div class="flex items-center justify-center">
                    <button id="play" class="group-hover:scale-125  transition-all py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                        Enter the dojo
                    </button>
                </div>
            </div>

        </div>
    </main>
</Layout>

<script