---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Once upon a time, there was a majestic Maine Coon named Fu,
                            the undisputed king of cats on the Internet. With his silky long fur and piercing eyes, he
                            captivated everyone who crossed his path.">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
	<audio src="/audio/sound.mp3"></audio>

</html>
<style is:global>
	@font-face {
		font-family: 'Dragon';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url('/fonts/dragon.ttf') format('truetype');
	}

	html {
		font-family: 'Dragon', sans-serif;
	}
</style>

<script is:inline>
	const play = document.getElementById('play');
	const audio = document.querySelector('audio');

	play.addEventListener('click', () => {
		audio.play();
	});

</script>